
body {
   
   background-color: #dde4c7;
}

.tbb,.tb{
        background-color: darkgreen;
        color: white;
    }
    
.tbbb{
        background-color: #5f4100;
        color: white;
    }

  




